body{
    height: 200px;  
    background-image: linear-gradient(45deg,black,darkslategray);
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    *{

        font-family:Verdana, Geneva, Tahoma, sans-serif;color: white;
    }
    .menu{
        text-align: center;
  padding: 10px;

    }
    .menu{
        background-color:white;
        height:40px;
        padding: 0px;
        margin: 0px;
        }
        .menu ul li{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        }
        .menu ul li {
            float: left;
        }
        .menu ul li a {
        display: block;
        height: 40px;
        width: 150px;
        text-align:center;
        line-height: 40px;
        color:black;
        font-size: 20px;
        text-decoration: none;
        border-radius: 5px;
        margin-right:5px;
        margin-left: 5px;
        }
        .menu ul li a:hover{
        color:white;
        background-color:black;
        }
        .baslıklar{
    color: white;
    text-align: center;
    
        }
        body h1{
    color: white;
    
        }
        body h2{
    color: white;
    
        }
        .kad{
    font-size: 15px;
    color: white;
        }
    .par{
    font-size: 15px;
    color: white;
    border-radius: 10px;
    }
    .buton{
    background-color: white;
    color: darkslategray;
    width: 70px;
    height: 30px;
    }
    .sitelink{
    font-size: 15px;
    color: white;
    }
    .tıkla{
    color: white;
    }
    fieldset{
text-align: center;
color: black;
padding-top: 30px;
margin-left: 550px;
margin-right: 550px;
height: 200px;
line-height: 20px;
padding: 10px;
border-radius: 10px;
    }
    .fs{
color: white;
font-size: 23px;

    }

.giriss input{
    border-radius: 10px;
}
.buton{
    border-radius: 10px;
    background-color: darkgreen;
    color: white;
    border:30px;
        }
        textarea{

            color: black;
        }
        input{
background-color: white;
color: black;

        }
    